<!DOCTYPE html>
<!-- <html lang="en-us"> -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Chains</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="./css/about.css" type="text/css" />
</head>

<body>
    <div class="main-nav">
        <% include navbar %>
    </div>
    <h1>About</h1>
    <h2>Project Description</h2>
    <p>Our goals for this site were to learn about AWS and its different offerings, strengthen our abilities with NodeJS, and implement a functional site pulling from both external API and our own back-end through analyzing trends in market chain exchange rates. The project takes the form of a table displaying both left and right "loops" of market chains like Bitcoin (BTC) and Ethereum (ETH). As an example, let us say we have the market: <strong>BTC_AAA_ETH</strong>. We would then have two loops. The left loop would look like <strong>BTC &rarr; ETH &rarr; AAA &rarr; BTC </strong>, and the right loop would look like <strong>BTC &rarr; AAA &rarr; ETH &rarr; BTC </strong>. <br><br>We simply calculate the exchange rates by looping to-and-from the origin market. In this case, our origin market is BTC. We see if exchanging currency, starting and ending with BTC, from <strong>ETH &rarr; AAA </strong> or <strong>AAA &rarr; ETH</strong> are profitable. A loop is profitable if we manage to find a ratio above 1.0 in the exchange rate after fees in either loop of a market.</p>
    
    
</body>

<!-- Scripts -->
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</html>
