<!DOCTYPE html>
<!-- <html lang="en-us"> -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptocurrency Chain Tracker</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="./css/contact.css" type="text/css" />
</head>

<body>
    <div class="main-nav">
        <% include navbar %>
    </div>
    <h1>Contact Information</h1>

    <div class="card-container">
        <div class="card">
            <div class="top-section"></div>
            <div class="avatar"><img src="http://placecorgi.com/64/64" alt="corgi">
            </div>
            <div class="bottom-section">
                <h5>Nshan Bagdasarian</h5>
                <p>Hey I'm Nshan and I love programming. Check out my <a href="https://github.com/nshan-b">GitHub</a> whenever you get the chance for more soon-to-be projects.</p>
            </div>
            <div class="contact">
                <p>nshan.b@outlook.com</p>
            </div>
        </div>
        <div class="card">
            <div class="top-section"></div>
            <div class="avatar"><img src="http://placekitten.com/64/64" alt="corgi">
            </div>
            <div class="bottom-section">
                <h5>Brian Becker</h5>
                <p>Sometimes I program things, and sometimes those things work. I have a couple of different projects that you can see at my site below (you can see my resume there). If you have any questions or even just want to talk, please email me!</p>
            </div>
            <div class="contact">
                <p><a href="https://brianbeckerdev.com">brianbeckerdev.com (coming soon)</a></p>
                <p>brianbecker.dev@gmail.com</p>
            </div>
        </div>
    </div>

    <h2>Who We Are</h2>
    <h3>We are a pair of software engineers/developers that love to explore a variety of different topics while becoming better in our fields at the same time. </h3>

</body>

<!-- Scripts -->
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</html>
