<!DOCTYPE html>
<!-- <html lang="en-us"> -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Chains</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="./css/contact.css" type="text/css" />
</head>

<body>
    <div class="main-nav">
        <% include navbar %>
    </div>
    <h1>Contact Information</h1>

    <div class="card-container">
        <div class="card">
            <div class="top-section"></div>
            <div class="avatar"><img src="http://placecorgi.com/64/64" alt="corgi">
            </div>
            <div class="bottom-section">
                <h5>Terry Gomez</h5>
                <p>Hey, I'm Terry! Part-time software engineer, part time dog-sitter. I love coding with my pet corgi. We make all sorts of repawsitories together. Ha ha!</p>
            </div>
            <div class="contact">
                <p>terry.g@omez.com</p>
                <p>(012) 345-6789</p>
            </div>
        </div>
        <div class="card">
            <div class="top-section"></div>
            <div class="avatar"><img src="http://placekitten.com/64/64" alt="corgi">
            </div>
            <div class="bottom-section">
                <h5>Ronald Reagan</h5>
                <p>I have these... dreams. Dreams about once serving as the 40th President of the United States. After a strange nightmare I woke up in an abadoned vehicle with just my pet kitten. After that I decided to take it easy and become a software engineer. The rest, as they say, is history!</p>
            </div>
            <div class="contact">
                <p>ronald@wilson.reagan.com</p>
                <p>(012) 345-6789</p>
            </div>
        </div>
    </div>

</body>

<!-- Scripts -->
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</html>
