<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptocurrency Chain Tracker</title>
    <link rel="stylesheet" href="/css/graph.css" type="text/css">
</head>
<body>

    <div class="main-nav">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
    <h1><%= market %></h1>
</body>


<!-- Scripts -->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src='/js/database-wrapper.js'></script>
<script src='/js/graph.js'></script>

</html>
