<!DOCTYPE html>
<!-- <html lang="en-us"> -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptocurrency Chains</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nova+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
</head>

<body>
    <div class="main-nav">
        <nav>
            <a href="/">Home</a>
            <a href="about">About</a>
            <a href="contact">Contact</a>
        </nav>
    </div>
    <h1 class="main-title">Cryptocurrency Market Chains</h1>
    <div align="center" style="margin:4px">
        <button id="pause-button" onclick="pauseCallback();" style="cursor:pointer;
        text-align:center; height:25px; width:40px;">&#10074;&#10074;</button>
    </div>
    <div id="sort-wrapper">
        <select name="sort" id="sort-methods">
            <option value="0">A to Z</option>
            <option value="1">Z to A</option>
            <option value="2" selected="true">Descending</option>
            <option value="3">Ascending</option>
            <option value="4">Left-Desc.</option>
            <option value="5">Left-Asc.</option>
            <option value="6">Right-Desc.</option>
            <option value="7">Right-Asc.</option>
        </select>
    </div>
    <div id="main-table-wrapper">
        <table id="main-table">
            <tr>
                <th class="market-header">Market</th>
                <th class="header">Loop Left</th>
                <th class="header">Loop Right</th>
            </tr>
        </table>
    </div>

</body>

<!-- Scripts -->
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<!-- FOR LOCAL DEVELOPMENT -- <script src='./js/database-wrapper.js'></script> -->
<script src='./js/main-table.js'></script>

</html>
