@import "style.css";

body {
    background-color: #F1F1F1;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    margin: 40px auto;
    padding: 20px 0px;
    text-align: center;
    color: white;
    background-color: #2D232E; /*1D1E2C; */
    width: 100%;

}

h2 {
    font-size: 1.4em;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    background-color: #2D232E;
    color: white;
    padding: 15px 30px;
    margin: 0 auto;
    width: 75%;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
p {
    padding: 15px 30px;
    font-size: 1.1em;
    line-height: 2em;
    letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F3E8EE;/*#C7D6D5; */
    text-align: left;
    width: 75%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #3E405A;
    word-wrap: break-word;
    white-space: normal;
}
