@import "style.css";
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
    background-color: #F1F1F1;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#canvas {
    margin: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: auto;
    border: 1px solid black;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}
 
.grid path {
    stroke-width: 0;
}
 
.axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}
 
.axis text {
    fill: #555;
}
 
.axis line {    
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
}
 
.axis .axis-label {
    font-size: 14px;
}
 
.line {
    fill: none;
    stroke-width: 1.5px;
}
 
.dot {
    /* consider the stroke-with the mouse detect radius? */
    stroke: transparent;
    stroke-width: 10px;  
    cursor: pointer;
}
 
.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}
